* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    max-width: 700px;
    width: 70vw;
    margin: auto;
}

.main-list {
    background-color: lightskyblue;
    color: brown;
    font-size: 20px;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

  

.main-list a {
    text-decoration: none;
}

h1 {
    background-color: darkblue;
    color: white;
    text-align: center;
}

.description {
    background-color: blueviolet;
}

.description::after {
    content: "";
    display: table;
    clear: both;
}

img {
    float: left;
    padding-right: 20px;
}

.ingredients {
    clear: both;
    background-color: brown;
    color: white;
}

section,
article {
    padding: 20px;
}

article {
    background-color: lightblue;
}

button {
    margin: 20px 0px 30px 0px;
}